@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

img {
  width: 100%;
}

section {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  max-width: 1200px;
}

.row {
  display: flex;
  justify-content: space-between;
}

article {
  width: 100%;
  text-align: center;
}

article p {
  font-size: 1rem;
}

article h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

p {
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}
header {
  background-color: #2e323f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.logo {
  margin-right: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  margin-right: 3rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  color: white;
}

.nav__button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.3rem 1.4rem;
  border-radius: 15rem;
  background-color: #a59678;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav__button:hover {
  background-color: #c9b286;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 660px;
  /* height:100vh; */
  background-color: #3b4050;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content--left {
  width: 40%;
}

.content--left h2,
.white {
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  color: #a59678;
  line-height: 1;
}

.white {
  color: white;
}

.content--right {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: white;
}

.cta {
  background-color: #a59678;
  padding: 0.2rem 1.5rem;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.cta:hover {
  background-color: #c9b286;
}

/* article */
.bgColor {
  background-color: #f1f1f1;
}

.main__article + .main__article {
  margin-left: 3.5rem;
}

.main__article h2 {
  color: #a59678;
}
.main__article p {
  color: #2e323f;
}

/* section--content */
.section--content {
  width: 55%;
}

.section--content h2 {
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #a59678;
}

.content__img {
  margin: 2.5rem 0;
}

aside {
  width: 30%;
  align-self: flex-start;
}

.aside__article {
  background-color: #2e323f;
  color: white;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

footer {
  background-color: #3b4050;
}

footer p,
.footer__link {
  font-size: 0.8rem;
  color: rgb(163, 163, 163);
}

footer h1 {
  text-align: center;
  color: white;
  font-size: 4rem;
  margin-bottom: 5rem;
}

footer h4 {
  margin-bottom: 1rem;
  color: #a59678;
}

.about {
  width: 36%;
}

.footer__link {
  margin-bottom: 1.2rem;
}
