@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color:#2E323F;
    display:flex;
    align-items: center;
    justify-content:center;
}

.container{
    width:80%;
    max-width:1200px;
}

.nav__container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:1rem 0rem;
}

.logo{
    margin-right: 4rem;;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    margin-right:3rem;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size:1.125rem;
    color:white;
}

.nav__button{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size:1.125rem;
    padding:0.3rem  1.4rem;
    border-radius:15rem;
    background-color: #A59678;
    color:white;
}